<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
  <h1>Axians NOC MGMT Screens</h1>
  <button type="button" onclick="set_all(true)" class="btn btn-success">Turn All On</button>
  <button type="button" onclick="set_all(false)" class="btn btn-danger">Turn All Off</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">IP</th>
        <th scope="col">Buttons</th>
      </tr>
    </thead>
    <tbody>
    {% for screen in screens %}
      <tr>
        <th scope="row">{{screen.name}}</th>
        <td>{{screen.ip}}</td>
        <td><button type="button" onclick="turn_on(this.id)" id="{{screen.ip}}" class="btn btn-success">On</button> <button type="button" onclick="turn_off(this.id)" id="{{screen.ip}}"  class="btn btn-danger">Off</button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <script>
     function send_data(state, url) {
        console.log(state)
        const data = { "state": state };
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
            }) 
     }
     function turn_on(id) {
         console.log(id)
         var url = "http://" + id + ":5000/tv"
         console.log(url)
         send_data(true, url)
     }
     function turn_off(id) {
         console.log(id)
         var url = "http://" + id + ":5000/tv"
         console.log(url)
         send_data(false, url)
     }
     function set_all(state) {
         var url = "/all";
         send_data(state, url)         
     }
  </script>
</body>
</html>